@function relativePx($number) {
    @return ($number/14)*1em
};

@function absolutePx($number) {
    @return ($number/14)*1rem
};


$white: #ffffff;
$black: #333333;
//
//font family
//
//$fontName: 'Malgun Gothic';
//$fontNameKr: '맑은 고딕';
$fontName: 'Spoqa Han Sans Neo';
$fontNameKr: '';
$fontSmoothing: antialiased;
$baseFontColor: $black;




//font weight
$light: 100;
$regular: 400;
$bold: 600;
$bolder: 900;

//line height
$lineHeight: relativePx(20);

//letter spacing
$widerSpacing: 1px;
$wideSpacing: 0.5px;
$baseSpacing: normal;
$narrowSpacing: -0.5px;
$narrowerSpacing: -1px;

//
//border color
//
$borderColor: #CCCCCC;
$borderDarkColor: darken($borderColor, 27.4);

//
//base background color
//
$background: #FFFFFF;

//#definitions
//$primary: #454545;
//$secondary: #EBEBEB;

$primary: #0076D5;
$secondary: #888888;

$info: #909090;
$danger: #D53012;
$attention: #EC6E00;
$importance: #FDC036;

$primaryText: $white;
$secondaryText: $white;
$infoText: $white;
$dangerText: $white;
$attentionText: $white;
$importanceText: $white;

$surface: #f2f2f2;
$surfaceHover: #F4F4F4;

$black: #333333;
$gray: #909090;
$lightGray: lighten($gray, 16.1); //#C4C4C4
$darkGray: lighten($black, 20.4); //#676767

//$darkPrimary: darken(saturate($primary, 23.9), 10.6); //#056AC93
//$darkSecondary: darken($secondary, 35.7); //#909090
//$darkerPrimary: darken(saturate($primary, 28.8), 20.8); //#004F9A
//$darkerSecondary: darken($secondary, 58.1); //#575757

$darkPrimary: darken(saturate($primary, 23.9), 10.6);
$darkSecondary: darken($secondary, 35.7);
$darkerPrimary: darken(saturate($primary, 28.8), 20.8);
$darkerSecondary: darken($secondary, 58.1);

$surface1: #F8F8F8;
$surface2: #EFF4FC;
$surface3: #DAE8F8;

$redColor: #D75757;
$orangeColor: #EE9033;
$yellowColor: #F8B825;
$lightgreenColor: #B3BC40;
$greenColor: #61A475;
$lightblueColor: #8CC5CE;
$blueColor: #70A3CA;
$deepblueColor: #5178AF;
$deeppurpleColor: #9180B4;
$purpleColor: #AF77C0;
$brownColor: #A86A82;
$grayColor: #8B8B8B;

$brandColors: (
        'primary': ($primary, $darkPrimary, $primaryText),
        'secondary': ($secondary,$darkerSecondary, $secondaryText),
);

$stateColors: (
        'success': ($greenColor, darken($greenColor, 10), $white),
        'info': ($info, darken($info, 10), $infoText),
        'danger': ($danger, darken($danger, 10), $dangerText),
        'attention': ($attention, darken($attention, 10), $attentionText),
        'importance': ($importance, darken($importance, 10), $importanceText),
);

$colors: (
        'red': $redColor,
        'orange': $orangeColor,
        'yellow': $yellowColor,
        'lightgreen': $lightgreenColor,
        'green': $greenColor,
        'lightblue': $lightblueColor,
        'blue': $blueColor,
        'deepblue': $deepblueColor,
        'deeppurple': $deeppurpleColor,
        'purple': $purpleColor,
        'brown': $brownColor,
        'gray': $grayColor,
);

$headerFontWeight: $bold;
$h1: absolutePx(22);
$h2: absolutePx(20);
$h3: absolutePx(18);
$h4: absolutePx(16);
$h5: absolutePx(14);

//Size
$tinySize: (10 / 14);
$smallSize: (12 / 14);
$mediumSize: (14 / 14);
$largeSize: (18 / 14);
$hugeSize: (20 / 14);
$massiveSize: (24 / 14);

//$tiny-size: 0.5em;
//$small-size: 0.75em;
//$normal-size: 1em;
//$large-size: 1.25em;
//$huge-size: 1.5em;



// Scroll Bars

$useCustomScrollbars: true;

$thumbWidth: 8;
$thumbBorderWidth: 2;

$customScrollbarWidth: $thumbWidth + ($thumbBorderWidth * 2);
$customScrollbarHeight: $customScrollbarWidth;


$trackBackground: rgba(0, 0, 0, 0);
$trackBorderRadius: 0px;

$thumbBorderRadius: $customScrollbarWidth / 2;

$thumbBackground: rgba(0, 0, 0, 0.55);
$thumbTransition: color 0.2s ease;

$thumbBorderColor: $background;

$thumbInactiveBackground: rgba(0, 0, 0, 0.15);
$thumbHoverBackground: rgba(128, 135, 139, 0.8);

/* Inverted */
$trackInvertedBackground: rgba(255, 255, 255, 0.1);
$thumbInvertedBackground: rgba(255, 255, 255, 0.25);
$thumbInvertedInactiveBackground: rgba(255, 255, 255, 0.15);
$thumbInvertedHoverBackground: rgba(255, 255, 255, 0.35);

$baseBorderRadius: 4px;
//$baseBorderRadius: 2em;
$baseInputRadius: 2px;

// button & input
$baseButtonColor: $black;
$baseButtonBg: #efefef;

$horizontalInputPadding: relativePx(15);
$verticalInputPadding: relativePx(9);
$horizontalPadding: $horizontalInputPadding + ($horizontalInputPadding / 2);
$verticalPadding: $verticalInputPadding;

$buttonPadding: $verticalPadding $horizontalPadding $verticalPadding;

// button-compact
$compactHorizontalPadding: relativePx(9);
$compactVerticalPadding: relativePx(5);

$compactPadding: $compactVerticalPadding $compactVerticalPadding;

//Button + Equal

$equalBtnWidth: 150px;
$equalBtnPadding: 12px 20px;

$equalLargeBtnWidth: 200px;
$equalLargeBtnPadding: 18px 30px;

//input base
$inputLineHeight: relativePx(17);
$lineHeightOffset:(( $inputLineHeight - 1) / 2);

$inputVerticalOffsetPadding: $verticalInputPadding - $lineHeightOffset;

$inputPadding: $inputVerticalOffsetPadding $horizontalInputPadding;

// Grid system

$gridWhole: 12;
$gridGutter: 4;

$gridWholeMobile: 4;
$gridWholeTablet: 8;
$gridWholeLaptop: 12;

$gridPercent: (100 / $gridWhole);
$gridHalf: $gridWhole / 2;
$gridThird: $gridWhole / 3;
$gridQuarter: $gridWhole / 4;
$gridFifth: $gridWhole / 5;
$gridSixth: $gridWhole / 6;
$gridEighth: $gridWhole / 8;
$gridTenth: $gridWhole / 10;

$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-laptop: 1280px;
$bp-desktop: 1440px;

//Dark Mode
$dModeBaseFontColor: $white;
$dModeBorderColor: #494F61;
$dModeBackground: #31363e;

$dModeSurface: #272C34;




