$tableBorderColor: #d7dae2;
$headerBackgroundColor: #e5e9f2;
body .ga-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 100vw;
  height: 100vh;
  .ga-modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .ga-modal-container {
    display: inline-block;
    border: 1px solid $tableBorderColor;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: calc(50% - var(--offset));
    left: calc(50% - var(--offset));
    transform: translate(-50%, -50%);
    .modal {
      min-width: 350px;
      background-color: #fff;
      .modal-header {
        position: relative;
        padding: 8px 12px;
        background-color: $headerBackgroundColor;
        border-bottom: 1px solid $tableBorderColor;

        .title {
          font-weight: 900;
        }

        .close-btn {
          cursor: pointer;
          position: absolute;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
        }
      }

      .modal-contents {
        padding: 20px;
      }

      .modal-footer {
        padding: 8px 13px;
      }

      .align-left {
        text-align: left;
      }

      .align-right {
        text-align: right;
      }

      .align-center {
        text-align: center;
      }
    }
  }
  &:last-child {
    .ga-modal-background {
      background-color: rgba(0, 0, 0, 0.16);
    }
  }
}